<!DOCTYPE html>
<html>
<head>
    <title>Teste socket</title>
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function() {
            function tables(data) {
                const tables = document.querySelector('#tables');
                tables.innerHTML = '';
                
                for (let i = 0; i < data.length; i++) {
                    tables.innerHTML += `<h1 id="table_id${i}"></h1>
                                        <table id="weightsTable${i}">
                                            <thead>
                                                <tr>
                                                    <th>Datetime</th>
                                                    <th>Value</th>
                                                    <th>Bateria</th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                            </tbody>
                                        </table>`;
                    const tableBody = document.querySelector(`#weightsTable${i} tbody`);
                    tableBody.innerHTML = ''; 
                    document.getElementById(`table_id${i}`).textContent = `Mesa: ${data[i]['id']}`;
                    data[i].pesos.forEach((peso, index) => {
                        const row = `
                            <tr>
                                <td>${data[i].horarios[index]}</td>
                                <td>${peso}</td>
                                <td>${data[i].bateria[index]}</td>
                            </tr>
                        `;
                        tableBody.innerHTML += row;
                    });
                }
            }

            function fetchData() {
                fetch('/api/measures')
                    .then(response => response.json())
                    .then(data => {
                        tables(data);
                    })
                    .catch(error => {
                        console.error('Erro ao buscar dados:', error);
                    });
            }

            setInterval(fetchData, 5000);
            fetchData();
        });
    </script>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            margin: 20px 0;
            font-size: 18px;
            text-align: left;
        }
        th, td {
            padding: 12px;
            border: 1px solid #ddd;
        }
        th {
            background-color: #f4f4f4;
        }
    </style>
</head>
<body>
    <h1>Mesas</h1>
    <div id="tables"></div>
</body>
</html>
