<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h2>Login</h2>
    {% if error %}
    <p style="color: red;">Usuário ou senha incorretos.</p>
    {% endif %}
    <form method="post" action="/">
        <label for="username">Usuário:</label><br>
        <input type="text" id="username" name="login" required><br>
        <label for="password">Senha:</label><br>
        <input type="password" id="password" name="senha" required><br><br>
        <input type="submit" value="Login">
    </form>
</body>
</html>
